<div class="container pt-4">
  <h2 class="mb-4 fw-bold text-center">Featured Products</h2>

  <div class="row g-4">
    @for (product of products(); track product.id) {
      <div class="col-12 col-sm-6 col-md-4 col-lg-3">
        <mat-card
          class="product-card h-100 d-flex flex-column justify-content-between border-0 shadow-sm"
        >
          <div
            class="image-container d-flex align-items-center justify-content-center p-3"
          >
            <img
              [src]="product.image"
              [alt]="product.title"
              class="product-img"
            />
          </div>

          <mat-card-content class="pt-2">
            <h3
              class="product-title fs-6 fw-semibold text-truncate mb-1"
              [title]="product.title"
            >
              {{ product.title }}
            </h3>
            <div
              class="product-info d-flex flex-row justify-content-between gap-1"
            >
              <p class="product-category text-uppercase text-muted small mb-2">
                {{ product.category }}
              </p>
              <p class="product-price fs-5 fw-medium text-primary m-0">
                {{ product.price | currency }}
              </p>
            </div>
          </mat-card-content>

          <mat-card-actions class="p-3 pt-0">
            <button class="btn-primary-custom w-100 py-2 fs-7">
              <mat-icon>shopping_cart</mat-icon>
              <span>Add to Cart</span>
            </button>
          </mat-card-actions>
        </mat-card>
      </div>
    } @empty {
      <div class="col-12 text-center py-5">
        <!-- <p class="text-muted">Loading exceptional products...</p> -->
      </div>
    }
  </div>
</div>
