<mat-toolbar class="custom-navbar">
  <div class="container d-flex justify-content-between align-items-center h-100">

    <div class="brand-section d-flex align-items-center">
      <button mat-icon-button class="me-2 d-md-none" aria-label="Menu">
        <mat-icon>menu</mat-icon>
      </button>
      <span class="brand-text">MyShop.</span>
    </div>

    <div class="nav-links d-none d-md-flex align-items-center">
      <a routerLink="/" [routerLinkActiveOptions]="{exact: true}" routerLinkActive="active"
        class="nav-item active">Home</a>
      <a routerLink="/products" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active"
        class="nav-item">Products</a>
      <a routerLink="/about" [routerLinkActiveOptions]="{exact: false}" routerLinkActive="active"
        class="nav-item">About</a>
    </div>

    <div class="action-section d-flex align-items-center gap-1">
      <button mat-icon-button class="custom-icon-btn" aria-label="User Profile">
        <mat-icon>person_outline</mat-icon>
      </button>

      <!-- <span class="fw-bold text-danger me-2">Test Count: {{ cartService.totalItems() }}</span> -->

      <button mat-icon-button class="custom-icon-btn" aria-label="Shopping Cart">
        <mat-icon [matBadge]="cartService.totalItems()" matBadgeColor="warn" matBadgeSize="medium" aria-hidden="false" [matBadgeHidden]="false">
          shopping_cart
        </mat-icon>
      </button>
    </div>

  </div>
</mat-toolbar>
